Flask==3.0.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
requests==2.32.3
python-telegram-bot==21.6
python-dotenv==1.0.1
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
psycopg2-binary
python-dotenv
python-telegram-bot
requests
SQLAlchemy
telegram
gunicorn
